<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Allergietest</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">

    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="{{ url_for('static', filename='main.css') }}"
    />
  </head>
  <body>
    <h1>Allergietest</h1>
    <div class="container">
      <div id="card">
        <h2>Allergieausweis</h2>
        <div id="card-content">
          <img
            class="portrait"
            src="{{ url_for('static', filename='portraits/portrait1.png') }}"
            alt="portrait"
          />
          <table>
            <tr>
              <th>Name</th>
              <td>{{ person.name }}</td>
            </tr>
            <tr>
              <th>Geburtstag</th>
              <td>{{ person.geburi }}</td>
            </tr>
            <tr>
              <th>Blutgruppe</th>
              <td>{{ person.bg }}</td>
            </tr>
            <tr>
              <th>Med. einnahme</th>
              <td>{{ person.medis }}</td>
            </tr>
            <tr>
              <th>Bekannte Allergien</th>
              <td>{{ person.allergien }}</td>
            </tr>
            <tr>
              <th>Ausweisnummer</th>
              <td>{{ person.nummer }}</td>
            </tr>
            <tr>
              <th>Ausstellungsland</th>
              <td>{{ person.land }}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
